'.text.html':
  'xmlns:v':
    'prefix': 'vnamespace'
    'body': 'xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"'
  '{namespace}':
    'prefix': 'vnamespace_legacy'
    'body': '{namespace v=FluidTYPO3\\\\Vhs\\\\ViewHelpers}'
  'v:content.render':
    'prefix': 'vcontent_render'
    'body': '<v:content.render contentUids="{uid: \'$1\'}" />'
  'v:if':
    'prefix': 'vif'
    'body': '<v:if stack="{0: $1}">\n\t$2\n</v:if>'
  'v:link.typolink':
    'prefix': 'vlink_typolink'
    'body': '<v:link.typolink configuration="{parameter: $1, ATagParams: \'class=\"$2\"\'}">\n\t$3\n</v:link.typolink>'
  'v:variable.set':
    'prefix': 'vvariable_set'
    'body': '<v:variable.set name="$1" value="$2" />'
  'v:variable.get':
    'prefix': 'vvariable_get'
    'body': '<v:variable.get name="$1" />'
